PUBLIC_GISCUS_REPO=wdxzf/blog-comments
PUBLIC_GISCUS_REPO_ID=R_kgDORf47fw
PUBLIC_GISCUS_CATEGORY=Announcements
PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDORf47f84C3zZC
PUBLIC_GISCUS_LANG=zh-CN
PUBLIC_GISCUS_MAPPING=pathname
PUBLIC_GISCUS_STRICT=1
PUBLIC_GISCUS_REACTIONS_ENABLED=1
PUBLIC_GISCUS_EMIT_METADATA=0
PUBLIC_GISCUS_INPUT_POSITION=top
PUBLIC_GISCUS_THEME=preferred_color_scheme
PUBLIC_GISCUS_LOADING=lazy
